*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  max-width: 1800px;
  margin: 0 auto;
}
.app__wrapper {

}
/*Style Header.js*/
.Header{
  max-width: 1800px;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
/*Style Under-header.js*/
.Description span, .Technology span{
  cursor: pointer;
  display: inline-block;
}
.Under__header{
  border-bottom: 1px solid lightgray;
}
.Create__btn{
  display: block;
  cursor: pointer;
  background-color: #0096DF;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}
.Upper__line{
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.Toggle__btn{
  display: flex;
  justify-content: flex-start;
}
.Toggle__btn span{
  cursor: pointer;
  color: #667085;
  padding: 10px;
}
.Toggle__btn NavLink{
  text-decoration: none;
}
/*Style Left-side.js*/
.Left__side{
  width: 50%;
  border-right: 1px solid lightgray;
  height: 100vh;
}
.Title__category{
  font-weight: 500;
}
/*Style Card-technology.js*/
.Card__technology{
  display: grid;
  cursor: pointer;
  grid-template-rows: repeat(2, auto);
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  padding: 10px;
  gap: 15px 0px;
}
.Card__technology:hover{
  border: 1px solid #7D8291;
}
.Title__card{
  display: flex;
  justify-content: space-between;
}
.Title__technology{
  padding-top: 5px;
}
.Status{
  display: block;
  background-color: #F2F4F7;
  border-radius: 5px;
  padding: 5px;
  color: #667085;
  font-weight: 500;
}
.Card__container{
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  gap: 4px 5%;
}
.Info__Supply ,.About__technology{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 4px 16px;
}
.Date__supply, .Status__supply{
  color: #B6BAC7;
}
/*Style Right-side.js*/
.Right__sidebtn{
  border-bottom: 1px solid lightgray;
  display: flex;
}
.Right__sidebtn span{
  cursor: pointer;
  color: #667085;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.active span{
  border-bottom: 2px solid black;
  color: black;
}
.Right__side{
  width: 50%;
  grid-area: Right;
}
.Left__side,.Right__content{
  padding: 10px;
}
.Right__content p{
  margin-bottom: 3%;
}
.Right__content ol {
  padding-left: 5%;
  padding-top: 2%;
}
/*Style Form-technology.js*/
.Form__technology{
  display: grid;
  gap: 30px;
}
.Item__Create{
  display: grid;
  cursor: pointer;
  grid-template-rows: repeat(2, auto);
  gap: 15px 0px;
}
.Item__Create .Date__supply{
  color: black;
}
.Item__Create .Title__technology{
  display: inline-block;
  padding: 0;
}
.Create__technology{
  display: inline-block;
  text-decoration: none;
}
.Item__form{
  color: #B6BAC7;
}
.Item__Create:not(:first-child){
  padding-top: 15px;
  border-top: 1px solid #D3D3D3;
}
/*Style Technology*/
.Tech__wrapp{
  width:100%;
}
.Request__tech{
  padding: 10px;
}
.Info__tech{
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.Descrip__tech{
  display: grid;
  grid-area: Right;
  cursor: pointer;
  grid-template-rows: repeat(2, auto);
  gap: 0px 0px;
}
.Descrip__tech .Info__Supply{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 5px 5px;
}
/*Style Checkbox*/
.Checkbox__wrapp{
  margin-top: 2%;
}
.Checkbox__wrapp div{
  margin-bottom: 1%;
  padding-left: 5px;
}
#Req1,#Req2{
  transform:scale(1.5);
  margin-right: 1%;
}
/*Style Title organization*/